@import 'tailwindcss';

@theme {
  --color-nus-blue: #003d7c;
  --color-nus-blue-hover: #002b5e;
  --color-nus-orange: #ef7c00;
  --color-nus-orange-hover: #cc6a00;
}

@layer base {

  button:not(:disabled),
  a {
    cursor: pointer;
  }

  button:disabled {
    cursor: not-allowed;
  }
}

@layer components {
  .input-field {
    @apply w-full border-gray-300 rounded-lg shadow-sm focus:border-nus-blue focus:ring-nus-blue py-2 px-3 border outline-none font-medium;
  }

  .select-field {
    @apply w-full border-gray-300 rounded-lg shadow-sm focus:border-nus-blue focus:ring-nus-blue py-2 px-3 border outline-none bg-white font-medium;
  }
}