@import 'tailwindcss';

@theme {
  --color-nus-blue: #003d7c;
  --color-nus-blue-hover: #002b5e;
  --color-nus-orange: #ef7c00;
  --color-nus-orange-hover: #cc6a00;
}

@layer base {
  button:not(:disabled),
  a {
    cursor: pointer;
  }

  button:disabled {
    cursor: not-allowed;
  }
}
